<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log in</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<form method="post" th:action="@{/login}" th:object="${loginDto}">
    <div class="login-box">
        <h1>Login</h1>

        <div class="textbox">
            <label>Email</label>
            <i class="fas fa-envelope"></i>
            <input type="text" name = "email" th:value="*{email}">
        </div>

        <div class="textbox">
            <label>Password</label>
            <i class="fas fa-lock"></i>
            <input type="password" name = "password" th:value="*{password}">
        </div>

        <button type="submit" class="btn" >Submit</button>


        <div class="textbox">
            <p>  <i class="fas fa-address-card"></i>Not a member yet? <a href="/app/register"> Join us</a></p>
            <p ><i class='fas fa-user-cog'></i>Switch on admin account?<a href="/app/adminLogin" >Yes</a></p>
        </div>

    </div>

</form>

</body>
</html>