<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register Success</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="login-box">
    <h2>Bookstore</h2>
    <h3 th:text="${message}"></h3>
    <p class="textbox"> Log in
        <a href="/app/login" > HERE</a>
    </p>
</div>
</body>
</html>