<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>View address</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style2.css">
</head>
<body>
<header>
    <h1>
        <i class='fas fa-book' style='font-size:48px;color:black'></i>
        Bookstore
    </h1>
    <h>
        <nav>
            <ul>
                <li><a href="/app/indexUser">Home</a></li>
                <li><a href="/app/showBooks"> Check out all of our books!</a></li>
                <li><a href="/app/addAddress"> Add address </a></li>
                <li><a href="/app/viewAddress"> View Addresses</a></li>
                <li><a href="/app/viewAccount"> View Account </a></li>
                <li><a href="/app/viewUserOrder"> View Orders </a></li>
                <li><a href="/app/shoppingCart"> Shopping cart </a></li>
                <li><a href="/app/logout"> Logout</a></li>
            </ul>
        </nav>
    </h>

</header>

<div class="container">
    <h2>View Addresses:</h2>
    <table style="table-layout: fixed;width: 100%;">
        <thead>
        <tr>
            <th> Id </th>
            <th> Street </th>
            <th> Apartment</th>
            <th> Number </th>
            <th> City </th>
            <th> Operation </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${addresses.empty}">
            <td colspan="2"> No addresses Available </td>
        </tr>
        <tr th:each="address:${addresses}">
            <td><span th:text="${address.id}"> Id </span></td>
            <td><span th:text="${address.street}"> Street </span></td>
            <td><span th:text="${address.apartment}"> Apartment </span></td>
            <td><span th:text="${address.number}"> Number </span></td>
            <td><span th:text="${address.city}"> City </span></td>
            <td>
                <form th:action="@{/deleteAddress}" th:object="${address}" method="post">
                    <input type="hidden" name="id" th:value="${address.id}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<footer>
    <div class="footer"> Bookstore
    </div>
</footer>
</body>
</html>