<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Administrator main menu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style2.css">
</head>
<body>
<header>

    <h1>
        <i class='fas fa-user-cog' style='font-size:48px;color:black'></i>
        Administrator's Menu
    </h1>
    <h>
        <nav>
            <ul>
                <li><a href="/app/indexAdmin">Home</a></li>
                <li><a href="/app/addUser">Add User</a></li>
                <li><a href="/app/addBook">Add Book</a></li>
                <li><a href="/app/addGenre">Add Genre</a></li>
                <li><a href="/app/addShipper">Add Shipper</a></li>
                <li><a href="/app/addPromotions">Add Promotions</a></li>
                <li><a href="/app/viewUser">Users</a></li>
                <li><a href="/app/viewBook">Books</a></li>
                <li><a href="/app/viewGenre">Genres</a></li>
                <li><a href="/app/viewShipper">Shippers</a></li>
                <li><a href="/app/viewOrder">Orders</a></li>
                <li><a href="/app/index">Logout</a></li>

            </ul>
        </nav>
    </h>
</header>


<div class="container">
    <h2>View Orders:</h2>
    <table style="table-layout: fixed;width: 100%;">
        <thead>
        <tr>
            <th> Id </th>
            <th> Address </th>
            <th> Shipper </th>
            <th> Cost </th>
            <th> Status </th>
            <th> Date </th>
            <th> Items </th>
            <th> Operation </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${orders.empty}">
            <td colspan="2"> No Genres Available </td>
        </tr>
        <tr th:each="order : ${orders}">
            <td><span th:text="${order.id}"> Id </span></td>
            <td><span th:text="${'St. ' + order.address.street + ', Ap. ' + order.address.apartment + ', Nb. '
            + order.address.number + ', City ' + order.address.city}"> Address </span></td>
            <td><span th:text="${order.shipper.getName()}"> Shipper </span></td>
            <td><span th:text="${order.totalCost}"> Cost </span></td>
            <td><span th:text="${order.status}"> Status </span></td>
            <td><span th:text="${order.data}"> Date </span></td>
            <td>
                <form th:action="@{/viewOrderItems}" th:object="${order.id}" method="get">
                    <input type="hidden" name="id" th:value="${order.id}">
                    <button type="submit">View Items</button>
                </form>
            </td>
            <td>
                <form th:action="@{/changeStatus}" th:object="${order}" method="get">
                    <input type="hidden" name="id" th:value="${order.id}">
                    <input type="hidden" name="status" th:value="${order.status}">
                    <button type="submit">Change status</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<footer>
    <div class="footer"> Bookstore
    </div>
</footer>
</body>
</html>