<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Administrator main menu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style2.css">
</head>
<body>
<header>
    <i class='fas fa-user-cog'></i>
    <h1>
        Administrator's Menu
    </h1>
    <h>
        <nav>
            <ul>
                <li><a href="/app/indexAdmin">Home</a></li>
                <li><a href="/app/addUser">Add User</a></li>
                <li><a href="/app/addBook">Add Book</a></li>
                <li><a href="/app/addGenre">Add Genre</a></li>
                <li><a href="/app/addShipper">Add Shipper</a></li>
                <li><a href="/app/addPromotions">Add Promotions</a></li>
                <li><a href="/app/viewUser">Users</a></li>
                <li><a href="/app/viewBook">Books</a></li>
                <li><a href="/app/viewGenre">Genres</a></li>
                <li><a href="/app/viewShipper">Shippers</a></li>
                <li><a href="/app/viewOrder">Orders</a></li>
                <li><a href="/app/index">Logout</a></li>

            </ul>
        </nav>
    </h>
</header>

<div class="container">
    <h2>View Users:</h2>
    <table style="table-layout: fixed;width: 100%;">
        <thead>
        <tr>
            <th> Id </th>
            <th> Name </th>
            <th> Surname </th>
            <th> Email </th>
            <th> Password </th>
            <th> Phone Number </th>
            <th> Operation </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${users.empty}">
            <td colspan="2"> No Shippers Available </td>
        </tr>
        <tr th:each="user : ${users}">
            <td><span th:text="${user.id}"> Id </span></td>
            <td><span th:text="${user.name}"> Name </span></td>
            <td><span th:text="${user.surname}"> Surname </span></td>
            <td><span th:text="${user.email}"> Email </span></td>
            <td><span th:text="${user.password}"> Password </span></td>
            <td><span th:text="${user.phoneNumber}"> Phone Number </span></td>
            <td>
                <form th:action="@{/toUpdateUser}" th:object="${user}" method="post">
                    <input type="hidden" name="id" th:value="${user.id}">
                    <input type="hidden" name="name" th:value="${user.name}">
                    <input type="hidden" name="surname" th:value="${user.surname}">
                    <input type="hidden" name="email" th:value="${user.email}">
                    <input type="hidden" name="password" th:value="${user.password}">
                    <input type="hidden" name="phoneNumber" th:value="${user.phoneNumber}">
                    <button type="submit">Update</button>
                </form>
                <form th:action="@{/deleteUser}" th:object="${user}" method="post">
                    <input type="hidden" name="id" th:value="${user.id}">
                    <input type="hidden" name="name" th:value="${user.name}">
                    <input type="hidden" name="surname" th:value="${user.surname}">
                    <input type="hidden" name="email" th:value="${user.email}">
                    <input type="hidden" name="password" th:value="${user.password}">
                    <input type="hidden" name="phoneNumber" th:value="${user.phoneNumber}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<footer>
    <div class="footer"> Bookstore
    </div>
</footer>
</body>
</html>